<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.metadatademo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="msg" android:resource="@string/app_name" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="msg" android:value="angcyo test" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".TestService">
            <meta-data android:name="msg" android:value="angcyo service data" />
        </service>

        <receiver android:name=".TestReceiver">
            <meta-data android:name="msg" android:resource="@string/action_settings" />
        </receiver>
    </application>

</manifest>
